{{ define "new_task" }}
<div class="task-entry">
    {{if .Delegated}}
    <hr />
    {{end}}

    <div>
        <label>Objective:</label>
        <textarea class="text-input" name="post-task-objective" required></textarea>
    </div>

    <div>
        <label>Accountable:</label>
        <input list="users" name="post-task-accountable" autocomplete="order-accountable" />
        <datalist id="users">
            {{range UserEmails}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </datalist>
    </div>

    <div>
        <strong>Deadline:</strong><br>
        <input type="date" name="post-task-deadline" required>
    </div>

    <div>
        <label>State:</label>
        <select name="post-task-state" style="border: none;" required autocomplete="order-state">
            {{range States}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </div>

    {{if .Delegated}}
    <button type="button" class="remove-task" onclick="this.closest('.task-entry').remove()">Remove</button>
    {{end}}

</div>
{{end}}