{{define "new_user"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <meta charset="UTF-8">
    <title>new user</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/new_user.css">
</head>

<body>

    {{ template "header" .}}

    <form class="user-form" hx-post="/v1/mgmt/user" hx-trigger="submit"
        hx-headers='{"Content-Type": "application/json"}' hx-ext="json-enc" hx-vals='js:{
    user: {
      name: document.getElementById("post-name")?.value,
      email: document.getElementById("post-email")?.value,
      supervisor: document.getElementById("post-supervisor")?.value,
    }
  }'>
        <div>
            <label for="post-name">Name:</label>
            <input type="text" id="post-name" name="post-name" required autocomplete="name" />
        </div>

        <div>
            <label for="post-email">Email:</label>
            <input type="email" id="post-email" name="post-email" required autocomplete="email" />
        </div>

        <div>
            <label for="post-supervisor">Supervisor:</label>
            <input list="users" id="post-supervisor" name="post-supervisor" autocomplete="off" />
            <datalist id="users">
                {{range UserEmails}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </datalist>
        </div>

        <button type="submit">Add User</button>
        {{ template "footer" .}}

</body>

</html>
{{end}}