{{define "order"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <meta charset="UTF-8">
    <title>order - {{.Order.Task.ID}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/searchbar.css">
</head>

<body>
    {{ template "header" .}}
    <div class="container">
        <h1>{{.Order.Task.ID}}: {{firstLine .Order.Task.Objective}}</h1>

        <div>
            <a href="/order/{{.Order.ParentOrderID}}">Parent Order:</a>
            <input list="orders" class="text-input" id="parent-order-id" name="order-task"
                value="{{.Order.ParentOrderID}}: {{firstLine (ParentOrder .Order.ParentOrderID).Task.Objective}}" />
            <datalist id="orders">
                {{range .Orders}}
                <option value="{{.Task.ID}}: {{.Task.Objective}}">{{.Task.ID}}: {{.Task.Objective}}</option>
                {{end}}
            </datalist>
        </div>

        <div>
            <label for="task-objective">Objective:</label>
            <textarea class="text-input" id="task-objective" name="order-task" required>{{.Order.Task.Objective}}</textarea>
        </div>

        <div>
            <a href="/user/{{.Order.Task.Accountable.ID}}">Accountable:</a>
            <input list="users" class="text-input" id="task-accountable" name="order-task"
                value="{{.Order.Task.Accountable.Email}}" />
            <datalist id="users">
                {{range UserEmails}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </datalist>
        </div>

        <div>
            <strong>Deadline:</strong>
            <input type="date" id="task-deadline" name="order-task" value="{{formatToDate .Order.Task.Deadline}}" required>
        </div>

        <div>
            <strong>State:</strong>
            <select id="task-state" name="order-task" style="border: none;" required>
                {{range States}}
                <option value="{{.}}" {{if eq . $.Order.Task.State}}selected{{end}}>{{.}}</option>
                {{end}}
            </select>
        </div>

        <details open>
            <summary>Delegated Tasks</summary>
            <input class="searchbar" type="text" id="searchInput" placeholder="Search...">

            <div class="scroll-container">
                <table class="styled-table" id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Objective</th>
                            <th>Accountable</th>
                            <th>Deadline</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Order.DelegatedTasks}}
                        <tr>
                            <td><a href="/order/{{.ID}}">{{.ID}}</a></td>
                            <td>{{.Objective}}</td>
                            <td><a href="/user/{{.Accountable.ID}}">{{.Accountable.Email}}</a></td>
                            <td><input type="date" value="{{formatToDate .Deadline}}" disabled></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </details>

        <details open>
            <summary>SitReps</summary>
            {{range .Order.SitReps}}
            <details class="card" open>
                <summary id="sitrep-{{.ID}}-summary"
                    style="font-size: 0.9em; font-weight: 300; cursor: pointer; color: #555;">{{.DateTime}} by <a
                        href="/user/{{.By.ID}}">{{.By.Email}}</a></summary>

                <div id="sitrep-{{.ID}}-body">
                    <div>
                        <label for="sitrep-situation-{{.ID}}">Situation:</label>
                        <textarea class="text-input" id="sitrep-situation-{{.ID}}" name="order-sitrep"
                            placeholder="Situation to date...">{{.Situation}}</textarea>
                    </div>

                    <div>
                        <label for="sitrep-actions-{{.ID}}">Actions:</label>
                        <textarea class="text-input" id="sitrep-actions-{{.ID}}" name="order-sitrep"
                            placeholder="Actions to date...">{{.Actions}}</textarea>
                    </div>

                    <div>
                        <label for="sitrep-tbd-{{.ID}}">TODO:</label>
                        <textarea class="text-input" id="sitrep-tbd-{{.ID}}" name="order-sitrep"
                            placeholder="Things to do...">{{.TODO}}</textarea>
                    </div>

                    <div>
                        <label for="sitrep-issues-{{.ID}}">Issues:</label>
                        <textarea class="text-input" id="sitrep-issues-{{.ID}}" name="order-sitrep"
                            placeholder="Issues...">{{.Issues}}</textarea>
                    </div>

                </div>
            </details>
            {{end}}
        </details>
    </div>

    <script src="/static/scripts/search_table.js"></script>

    {{ template "footer" .}}

</body>

</html>
{{end}}