{{define "order"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <meta charset="UTF-8">
    <title>order - {{.Order.ID}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/searchbar.css">
</head>

<body>
    {{ template "header" .}}
    <div class="container">
        <h1>{{.Order.ID}}: {{firstLine .Order.Objective}}</h1>

        <div>
            <a href="/order/{{.ParentOrder.ID}}">Parent Order:</a>
            <input type="text" class="text-input" id="parent-order-id" name="order-task"
                value="{{.Order.ParentOrderID}}: {{firstLine .ParentOrder.Objective}}" />
        </div>

        <div>
            <label for="task-objective">Objective:</label>
            <textarea class="text-input" id="task-objective" name="order-task" required>{{.Order.Objective}}</textarea>
        </div>

        <div>
            <a href="/user/{{.AccountableUser.ID}}">Accountable:</a>
            <input type="text" class="text-input" id="task-accountable" name="order-task"
                value="{{.AccountableUser.Email}}" />
        </div>

        <div>
            <strong>Deadline:</strong>
            <input type="date" id="task-deadline" name="order-task" value="{{formatToDate .Order.Deadline}}" required>
        </div>

        <div>
            <strong>State:</strong>
            <select id="task-state" name="order-task" style="border: none;" required>
                {{range States}}
                <option value="{{.}}" {{if eq . $.Order.State}}selected{{end}}>{{.}}</option>
                {{end}}
            </select>
        </div>

        <details open>
            <summary>
                Delegated Orders
                <button id="addDelegatedOrderFormBtn" style="margin-left: 10px;">+</button>
                <div id="delegatedOrderFormContainer"></div>
            </summary>
            <input class="searchbar" type="text" id="searchInput" placeholder="Search...">

            <div class="scroll-container">
                <table class="styled-table" id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Objective</th>
                            <th>Accountable</th>
                            <th>Deadline</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .DelegatedOA}}
                        <tr>
                            <td><a href="/order/{{.Order.ID}}">{{.Order.ID}}</a></td>
                            <td>{{.Order.Objective}}</td>
                            <td><a href="/user/{{.AccountableUser.ID}}">{{.AccountableUser.Email}}</a></td>
                            <td>{{formatToDate .Order.Deadline}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </details>

        <details open>
            <summary>SitReps</summary>
            {{range .Order.SitReps}}
            <details class="card" open>
                <summary id="sitrep-{{.ID}}-summary"
                    style="font-size: 0.9em; font-weight: 300; cursor: pointer; color: #555;">{{.DateTime}} by <a
                        href="/user/{{.By.ID}}">{{.By.Email}}</a></summary>

                <div id="sitrep-{{.ID}}-body">
                    <div>
                        <label for="sitrep-situation-{{.ID}}">Situation:</label>
                        <textarea class="text-input" id="sitrep-situation-{{.ID}}" name="order-sitrep"
                            placeholder="Situation to date...">{{.Situation}}</textarea>
                    </div>

                    <div>
                        <label for="sitrep-actions-{{.ID}}">Actions:</label>
                        <textarea class="text-input" id="sitrep-actions-{{.ID}}" name="order-sitrep"
                            placeholder="Actions to date...">{{.Actions}}</textarea>
                    </div>

                    <div>
                        <label for="sitrep-tbd-{{.ID}}">TODO:</label>
                        <textarea class="text-input" id="sitrep-tbd-{{.ID}}" name="order-sitrep"
                            placeholder="Things to do...">{{.TODO}}</textarea>
                    </div>

                    <div>
                        <label for="sitrep-issues-{{.ID}}">Issues:</label>
                        <textarea class="text-input" id="sitrep-issues-{{.ID}}" name="order-sitrep"
                            placeholder="Issues...">{{.Issues}}</textarea>
                    </div>

                </div>
            </details>
            {{end}}
        </details>
    </div>

    <script src="/static/scripts/table_utils.js"></script>
    <script>
        document.getElementById('addDelegatedOrderFormBtn').addEventListener('click', async function () {
            const formContainer = document.getElementById('delegatedOrderFormContainer');

            if (formContainer.querySelector('div')) return;

            // Create the form
            const form = document.createElement('div');

            form.innerHTML = `
    <hr />
    <div>
        <label for="new-delegated-order-objective">Objective:</label>
        <textarea class="text-input" id="new-delegated-order-objective" required></textarea>
    </div>

    <div>
        <label for="new-delegated-order-accountable">Accountable:</label>
        <input type="text" id="new-delegated-order-accountable"/>
    </div>

    <div>
        <label for="new-delegated-order-deadline">Deadline:</label>
        <input type="date" id="new-delegated-order-deadline" required>
    </div>

    <button type="button" id="saveDelegatedOrderBtn">✓</button>
    <button type="button" id="cancelDelegatedOrderBtn">×</button>
    <hr />`;
            formContainer.appendChild(form);

            form.querySelector('#saveDelegatedOrderBtn').addEventListener('click', async function () {
                const objective = document.getElementById('new-delegated-order-objective')?.value?.trim();
                const accountable = document.getElementById('new-delegated-order-accountable')?.value?.trim();
                const deadline = document.getElementById('new-delegated-order-deadline')?.value?.trim();

                if (!objective || !accountable || !deadline) {
                    alert('Please fill all fields.');
                    return;
                }
                try {

                    const getResponse = await fetch(`/v1/mgmt/users?emails=${encodeURIComponent(accountable)}`);
                    const respGetSupervisorList = await getResponse.json();
                    if (!getResponse.ok || respGetSupervisorList?.users && respGetSupervisorList?.users.length == 0) {
                        alert(`user with email "${accountable}" doesn't exist`)
                        return
                    }

                    let user = respGetSupervisorList?.users[0];

                    let response = await fetch('/v1/mgmt/order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            order: {
                                parent_order_id: "{{.Order.ID}}",
                                objective: objective,
                                accountable_id: user?.id,
                                state: "Delegated",
                                deadline: deadline + "T00:00:00Z",
                            }
                        })
                    });

                    if (!response.ok) {
                        throw new Error('Server error: ' + response.statusText);
                    }

                    const respPostOrder = await response.json();
                    console.log("HERE", respPostOrder)

                    const tableBody = document.querySelectorAll('#datatable tbody')[0];
                    const newRow = document.createElement('tr');
                    newRow.innerHTML = `
        <td><a href="/order/${respPostOrder?.order?.id}">${respPostOrder?.order?.id}</a></td>
        <td>${respPostOrder?.order?.objective}</td>
        <td><a href="/user/${user?.id}">${user?.email}</a></td>
        <td>${deadline}</td>
    `;
                    tableBody.appendChild(newRow);

                    form.remove();
                } catch (err) {
                    alert('Creating new delegated order failed:', err);
                }
            });


            // Cancel/delete button
            form.querySelector('#cancelDelegatedOrderBtn').addEventListener('click', function () {
                form.remove();
            });
        });
    </script>

    {{ template "footer" .}}

</body>

</html>
{{end}}