{{define "users"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <meta charset="UTF-8">
    <title>users</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/searchbar.css">
</head>

<body>
    <form 
    hx-post="/v1/mgmt/user" 
    hx-target="#datatable tbody" 
    hx-swap="beforeend" 
    hx-trigger="submit">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
        </div>

        <div>
            <label for="user-supervisor">Supervisor:</label>
            <input list="users" class="text-input" id="user-supervisor" name="supervisor">
            <datalist id="users">
                {{range UserEmails}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </datalist>
        </div>
        <button type="submit">Add User</button>
    </form>
    <!-- <div id="myModal" class="modal" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
        <div class="modal-content">
            <button class="close-btn" id="closeModalBtn" aria-label="Close">&times;</button>
            <h2 id="modalTitle">Add New Resource</h2>
            <form id="resourceForm">
                <div>
                    <label for="resourceName">Name</label>
                    <input type="text" id="resourceName" name="name" required />
                </div>
                <div>
                    <label for="resourceQty">Quantity</label>
                    <input type="number" id="resourceQty" name="quantity" min="1" required />
                </div>
                <button type="submit" class="submit-btn">Add</button>
            </form>
        </div>
    </div> -->

    <hr style="border: none; height: 2px; background-color: #333; width: 50%; margin: 20px auto;">


    <div class="container">
        <input class="searchbar" , type="text" id="searchInput" placeholder="Search...">

        <table class="styled-table" id="datatable">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                {{range .}}
                <tr>
                    <td><a href="/user/{{.ID}}">{{.ID}}</a></td>
                    <td>{{.Name}}</td>
                    <td>{{.Email}}</td>
                </tr>
                {{end}}
            </tbody>

        </table>
    </div>

    <script src="/static/scripts/search_table.js"></script>

</body>

</html>
{{end}}